<div class="data-container">
  <div style="padding: 30px">
    <h3 style="text-align: center;">Lista contagi {{filterText}}</h3>
    <div class="dropdown" style="margin-top: 20px">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        Filtro dati
      </button>

      <div class="dropdown-menu">
        <a class="dropdown-item" style="cursor: pointer" (click)="selected(0)">Tutti</a>
        <a class="dropdown-item" style="cursor: pointer" (click)="selected(1)">La tua regione</a>
        <a class="dropdown-item" style="cursor: pointer" (click)="selected(2)">La tua provincia</a>
      </div>
    </div>
    <div style="padding: 20px 0">
      <span style="font-size: 0.7rem;">Ultimo aggiornamento: {{lastUpdateData}} – <a href="http://www.protezionecivile.gov.it/home" rel="noopener noreferrer" target="_blank">Fonte</a> </span>
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Regione</th>
          <th scope="col">Totale casi</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of regions">
          <tr>
            <td>{{item.denominazione_regione }}</td>
            <td>{{item.totale_casi}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
